- Declare uma variável do tipo integer

In [6]:
i = 2
print(type(i))

<class 'int'>

- Declare uma variável do tipo float

In [5]:
f = 0.2
print(type(f))

<class 'float'>

- Declare uma variável do tipo complex

In [7]:
c = 5+2j
print(type(c))

<class 'complex'>

- Declare uma variável do tipo string com aspas simples

In [10]:
nome = 'Lucas'
print(nome)
print(type(nome))

Lucas
<class 'str'>

- Declare uma variável do tipo string com aspas dupla

In [11]:
nome = "Lucas"
print(nome)
print(type(nome))

Lucas
<class 'str'>

- Declare uma variável do tipo string com aspas tripla

In [12]:
nome = '''Lucas
é meu
Primo'''
print(nome)
print(type(nome))

Lucas
é meu
Primo
<class 'str'>

- Declare variáveis do tipo booleano

In [13]:
yes = True
print(type(yes))

<class 'bool'>